/* styles.css */
.background-image {
    background-image: url('/assets/background-image/plane.webp'); /* Set the path to your image */
    background-size: cover; /* Adjust the size of the image to cover the entire container */
    background-position: center; /* Center the image within the container */
    /* Add other styles as needed */
  }